*.class
*.log
*.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
target/
fonts

logs
project/project
project/target
target
tmp
.history
*.iml
*.DS_Store
*.log
out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
*.sc
*.console
